.full-width {
    width: 100%;
}
.auth-card {
    position: relative;
}
.title {
    width: 100%;
    display: inline-flex;
}
@media screen and (max-width: 432px) {
    .title {
        justify-content: left;
    }
}

@media screen and (min-width: 432px) {
    .title {
        justify-content: center;
    }
    .auth-card {
        width: 400px;
        top: 10%;
        left: calc(50% - 216px);
    }
}

@media screen and (max-width: 300px) {
    .auth-card {
        top: 50px;
    }
}
